@font-face {
    font-family: Starborn;
    src: local("Starborn"),
    local("SStarborn"),
    url(Starborn.ttf);
}

p{
    color: white;
    font-size: smaller;
}

input[type="range"] {
    width: 110px;
    height: 10px;
    background:#F3AA60;
    border-radius: 10px;  
    appearance: none;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #EF6262;
}

#buttonContent{
    display: flex;
    margin-left: -170px;
    margin-right: 60px;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

body{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    font-family: Starborn;
    background-color: #1D5B79;
}

h1{
    color: #F3AA60;
}

#subcontainer{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#mainCont{
    display: flex;
    flex-direction: row;
    }

#gridContainer{
    width: 400px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.gridDiv{
    display: block;
    margin: 0;
}

.gridDivColor{
background-color: black;
}

.button{
    height: max-content;
    width: max-content;
    background-color: #F3AA60;
    color: white;
    border-radius: 100px;
    border-color: #EF6262;
    border-width: 4px;
    font-family: Starborn;
    padding: 5px;
}

#gridSizeCont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}