@font-face {
    font-family: Starborn;
    src: local("Starborn"),
    local("SStarborn"),
    url(Starborn.ttf);
}

body{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    font-family: Starborn;
    background-color: #1D5B79;
}

h1{
    color: #F3AA60;
}

#mainCont{
    display: flex;
    flex-direction: row;
    }

#gridContainer{
    width: 400px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#buttonContent{
    margin-left: -170px;
    margin-right: 60px;
    justify-content: center;
    align-self: center;
}

.gridDiv{
    display: block;
    width: 25px;
    height: 25px;
    margin: 0;
}

.gridDivColor{
background-color: black;
}

.button{
    height: max-content;
    width: max-content;
    background-color: #F3AA60;
    color: white;
    border-radius: 100px;
    border-color: #EF6262;
    border-width: 4px;
    font-family: Starborn;
    padding: 5px;
}